.contact {
  display: flex;
  justify-content: center;
}

.w40 {
  width: 40%;
}
.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.card {
  margin: 10px 0px;
  border: 1px solid rgba(0, 0, 20, 0.15);
  border-radius: 3px;
}

.card .header {
  font-weight: bold;
  padding: 15px;
  background-color: rgba(0, 0, 20, 0.15);
}

.card .inner {
  padding: 25px;
}

.card .footer {
  padding: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.015);
  display: flex;
}
