@media (min-width: 0px) and (max-width: 768px) {
  /* rules for mobile horizontal (480 > 768)  */
  .blog {
    margin: 0px 2% 20px 2%;
    min-height: 100vh;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .blog {
    margin: 0px 15% 50px 15%;
    min-height: 100vh;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

.title {
  margin-bottom: 50px;
}

.card {
  border: 1px solid rgba(0, 0, 20, 0.15);
}
.card .header {
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 20, 0.15);
}

.card .inner {
  padding: 25px;
}

.card .footer {
  padding: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.015);
  display: flex;
}
